/* .navbar-brand{padding-bottom: 2.5rem;} */
nav.bg{background-color: whitesmoke;}

.navlogo{color: ef7b45;}

.underlogo{margin-top: -1.5rem; color: black;}

.cartbtn{padding-top: 2rem;}

.logo{padding-top: .5rem;}

.footbtn{padding-bottom: 2rem;}
