body{
    background-color: white;
}

.logo{padding-top: .5rem;}

.card{ background-color: whitesmoke; }

button a{
    text-decoration: none;

    color: white;
}

.navlogo{color: ef7b45;}

.underlogo{margin-top: -1.5rem; color: black;}

.cartbtn{padding-top: 2rem;}

.col a {text-decoration: none;}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}


@media only screen and (max-width:425px) {
    div.prod_container{ width: 100%;}
 }

@media only screen and (min-width:500px) {
    div.prod_container{ width: 60%;}
 }
