body{
    background-color: whitesmoke;
}

.card{
    width: 15rem; height: 14.7rem;
    background-color: whitesmoke;
    border: none;
}

.card_one{
    background-image: url("../img/gymrack.png");
    background-size: 110%;
}

.card_two{
    background-image: url("../img/whey.png");
    background-size: 98%;
}

.card_three{ 
    background-image: url("../img/fitbit.png");
    background-size: 150%;
    background-position: -4rem;
}

.card_four{
    background-image: url("../img/glove.png");
    background-size: 100%;
}

ul .nav-item{
    color: rgb(247, 158, 43);
}

.col-3 a{
    text-decoration: none;
    color: white;
}

.bag-icon{color: ef7b45;}

@media only screen and (max-width: 380px) {
    .container .card{width: 4rem; height:9rem ;}
    div .padding{font-size: x-small;}
 }

 @media only screen and (min-width:380px) and (max-width: 430px) {
    .container .card{width: 5rem; height:9rem ;}
    div .padding{font-size: x-small;}
 }

 @media only screen and (min-width:430px) and (max-width: 768px) {
    .container .card{width: 10rem; height:10rem ;}
    div .padding{font-size: x-small;}
 }